.App{
  min-height: 100vh;
  background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
}

.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;

  /* overflow: hidden; */
  /* background-color: #333; */
  position: fixed;
  top: 0;
  width: 100%;
  /* background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%); */

}

.search-bar{
  width: 50%;
  border: none;
  padding: 10px;
  background-color: rgb(255, 255, 255);
}

.search-button{
  background: blueviolet;
  border: none;
  padding: 10px 20px;
  color: white;
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  font-weight: 400;
}

.recipes{
  padding-top: 100px;
  /* padding: 100px 60px 0px 60px; */
  margin: 0px 100px 0px 100px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
